<ion-view view-title="Chat">

  <link md-href="styles/chat.css" rel="stylesheet">

  <ion-content class="chat content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">
     <div ng-class="chat">
       <div id="chat-messages" ng-repeat="message in messages"
            class="message-wrapper">

            <div ng-if="message.userFrom != myId">
                <img class="profile-pic left" ng-src="http://1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png"/>

                <div class="chat-bubble left">
                  <div class="message" >
                    <span>{{ message.text }}</span>
                  </div>
                  <div class="message-detail">
                      <span class="bold">{{message.userFrom}}</span>,
                      <span >{{message.time}}</span>
                  </div>
                </div>
            </div>
            <div ng-if="message.userFrom == myId">
              <img class="profile-pic right" ng-src="http://1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" />
                <div class="chat-bubble right">
                   <div class="message" >
                     <span>{{ message.text }}</span>
                   </div>
                   <div class="message-detail">
                       <span class="bold">{{message.userFrom}}</span>,
                       <span >{{message.time}}</span>
                   </div>
                </div>
           </div>
           <div class="cf"></div>
       </div>
     </div>

   </ion-content>

   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
     <label class="item-input-wrapper">
       <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
     </label>
     <button class="button button-clear" ng-click="sendMessage()">
       Send
     </button>
   </ion-footer-bar>
</ion-view>
