<ion-view view-title="Forgot Password">
    <ion-content padding="true">

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="email">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="forgotPassword(email)">
            Send me a mail with a new password
        </button>
    </ion-content>
</ion-view>
