<ion-view view-title="Welcome to GeoGame {{$root.loggedInUser.name}}">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-divider">
            Choose a game to play GeoGame !
          </div>
          <div class="item item-text-wrap">
            <ul class="list">
              <li class="item" ng-repeat="game in games" ng-show="game.status == 'STARTED'">
                <h2><a href="#/app/game/{{game._id}}">{{game.name}}</a></h2>
                <p>{{game.questions.length}} question(s)</p>
                <p ng-show="game.status == 'STARTED'">{{game.scoreBoard.length}}/{{game.playerNb}} player(s)</p>
                <p ng-show="game.status == 'STARTED'">Started at {{game.started_at | date:'HH:mm'}} ({{game.timeElapsed | date:'HH:mm:ss'}} remaining)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
