<ion-view view-title="Welcome to GeoGame">
    <ion-content>
        <div class="row">
            <div class="col-33">
                <div class="card">
                    <div class="item item-divider">
                        Create a new question
                    </div>
                    <div class="item item-text-wrap">
                        <div class="list">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Name" ng-model="question.name">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Question</span>
                                <input type="text" placeholder="Question" ng-model="question.question">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Answer</span>
                                <input type="text" placeholder="Answer" ng-model="question.answer">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Points</span>
                                <input type="number" placeholder="Points" ng-model="question.nb_point">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Longitude</span>
                                <input type="text" placeholder="Longitude" ng-model="question.loc.coordinates[0]">
                            </label>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Latitude</span>
                                <input type="text" placeholder="Latitude" ng-model="question.loc.coordinates[1]">
                            </label>
                        </div>
                    </div>
                    <div class="item item-divider">
                        <button type="submit" class="button button-full button-balanced" ng-click="createQuestion(question)">Create !</button>
                    </div>
                </div>
            </div>
            <div class="col-67">
                <div class="row">
                    <div class="col-67">
                        <div class="card">
                            <div class="item item-divider">
                                Question's list
                            </div>
                            <div class="item item-text-wrap">
                                <ul class="list">
                                    <li class="item item-icon-left"  ng-repeat="question in questions">
                                        <i class="icon ion-chatbubble-working"></i>
                                        <h2>{{question.name}}</h2>
                                        <p>Question: {{question.question}}</p>
                                        <p>Answer: {{question.answer}}</p>
                                        <p>location: {{question.loc.coordinates[0]}}/{{question.loc.coordinates[1]}}</p>
                                        <span class="badge badge-calm">{{question.nb_point}} pts</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="card">
                            <div class="item item-divider">
                                Settings
                            </div>
                            <div class="item item-text-wrap">
                                <div class="list">
                                    <div class="item range range-positive">
                                        <i class="icon ion-ios-clock-outline"></i>
                                        <input type="range" name="duration" min="0" max="120" value="90" ng-change="computeHourAndMinutes()" ng-model="gameSettings.duration">
                                        <span>{{gameSettings.duration}} min</span>
                                        <!-- <span ng-show="gameSettings.hours > 0">{{gameSettings.hours}}h</span><span ng-show="gameSettings.minutes > 0">{{gameSettings.minutes}}</span><span ng-hide="gameSettings.hours > 0">min</span> -->
                                    </div>
                                    <div class="item range range-positive">
                                        <i class="icon ion-ios-people"></i>
                                        <input type="range" name="nb_player" min="0" max="15" value="5" ng-model="gameSettings.playerNb">
                                        <span>{{gameSettings.playerNb}} pers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="item item-divider">
                        Question's map
                    </div>
                    <div class="item item-text-wrap">
                        <div id="map" data-tap-disabled="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
