<ion-view view-title="Game manager">
  <ion-content>
    <div class="row">
      <div class="col-33">
        <div class="card">
          <div class="item item-divider">
            Game's list
          </div>
          <div class="item item-text-wrap">
            <ul class="list">
              <li class="item"  ng-repeat="game in games">
                <h2>{{game.name}}</h2>
                <ion-list>
                  <div ng-repeat="question in game.questions">
                    <ion-item class="item-stable">
                      ng-click="toggleGroup(group)"
                      ng-class="{active: isGroupShown(group)}">
                      <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                      &nbsp;
                      Group {{question.name}}
                    </ion-item>
                    <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
                    {{item}}
                  </ion-item>
                </div>
              </ion-list>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-67">
      <div class="card">
        <div class="item item-divider">
          Create a new game
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Name</span>
              <input type="text" placeholder="Name" ng-model="game.name">
            </label>
            <div class="item item-divider">
              Questions
            </div>
            <div class="item" ng-repeat="question in game.questions">
              {{question.name}}
            </div>
          </div>
        </div>
        <div class="item item-divider">
          <button type="submit" class="button button-full button-balanced" ng-click="createQuestion(question)">Create !</button>
        </div>
      </div>

    </div>
    <!-- /col-67  -->
  </div>
</ion-content>
</ion-view>
