<ion-view view-title="{{game.name}}">
  <ion-content>
    <div id="map" style="width: 100%; height: 100%;" data-tap-disabled="true"></div>

    <!-- <div class="row" style="height: 100%;">
    <div class="col-80">
    <div id="map" style="width: 100%; height: 100%;" data-tap-disabled="true"></div>
  </div>
  <div class="col-20">
  <div class="card">
</div>
</div>
</div> -->
<!-- <script id="popup-template.html" type="text/ng-template">
  <div>
    <img src="{{question.clue_image_url}}" alt="clue image" style="max-width: 480px; margin: auto; margin-bottom: 15px; display: block;"/>
    <p>Your answer</p><input ng-show="{{question.answerType}} == 'Text'" type="text" ng-model="data.answer">
    <label ng-show="{{question.answerType}} == 'Picture'" class="fileUpload item-input button button-block button-positive" style="margin : 10px 0px;">
      <i class="icon ion-image"></i>
      <span> Send a picture to answer</span>
      <input class="upload button button-block button-positive" style="margin-left : 0px;" type="file" accept="image/*" id="questionImage">
    </label>
  </div>
</script> -->
</ion-content>
</ion-view>
