<ion-view view-title="Game admin dashboard">
  <ion-content>
    <div class="row responsive-md">
      <div class="col-33">
        <div class="card">
          <div class="item item-divider item-icon-right" style=" background-color: #e2e5ea;">
            <i class="icon ion-map"></i>
            Game's list
          </div>
          <div class="item item-text-wrap">
            <ion-list>
              <ion-radio ng-model="gameSelected" ng-click="changeGameSelected(game)" ng-value="game._id" ng-show="game.status == 'STARTED'" ng-repeat="game in games">
                <h2>{{game.name}}</h2>
                <p>{{game.questions.length}} question(s)</p>
                <p>{{game.duration}} minutes</p>
                <p ng-show="game.status == 'STARTED'">{{game.scoreBoard.length}}/{{game.playerNb}} player(s)</p>
                <ul ng-show="game.status == 'STARTED'" >
                  <li ng-repeat="scoreBoardEntry in game.scoreBoard"><p style="margin-left : 16px;">{{scoreBoardEntry.user.name}}</p></li>
                </ul>
                <p ng-show="game.status == 'STARTED'">Started at {{game.started_at | date:'HH:mm'}} ({{game.timeElapsed | date:'HH:mm:ss'}} remaining)</p>
                <div style="clear: both;"></div>
              </ion-radio>
            </ion-list>
          </div>
        </div>
      </div>
      <div class="col-67">
        <div class="card">
          <div class="item item-divider" style=" background-color: #e2e5ea;">
            Players's map
          </div>
          <div class="item" style="padding: 5px;">
            <div id="map" data-tap-disabled="true"></div>
          </div>
        </div>
      </div>
      <!-- /col-67  -->
    </div>
    <div class="row responsive-md">
      <div class="col-33">
        <div class="card">
          <div class="item item-divider item-icon-right" style=" background-color: #e2e5ea;">
            <i class="icon ion-trophy"></i>
            ScoreBoard
          </div>
          <div class="item item-text-wrap">
            <div class="list">
              <li class="item item-icon-left" ng-repeat="scoreBoardEntry in game.scoreBoard | orderBy:'-score'">
                <i class="icon ion-trophy balanced" ng-show="$index == 0"></i>
                <h2>{{$index + 1}} -- {{scoreBoardEntry.user.name}} <span ng-show="scoreBoardEntry.user._id == $root.loggedInUser._id"> (me)</span></h2>
                <p>{{scoreBoardEntry.score}} points</p>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="col-67">
        <div class="card">
          <div class="item item-divider" style=" background-color: #e2e5ea;">
            Answered questions
          </div>
          <div class="item" style="padding: 5px;">
            <div class="card" ng-repeat="scoreBoardEntry in game.scoreBoard">
              <div class="item item-divider" style=" background-color: #e2e5ea;">
                Answers from {{scoreBoardEntry.user.name}}
              </div>
              <div class="item" style="padding: 5px;">
                <li class="item" ng-repeat="questionAnswered in scoreBoardEntry.questionsAnswered">
                  <h4>Question : {{questionAnswered.questionBody.question}}</h4>
                  <h4 ng-show="questionAnswered.questionBody.answerType == 'Text'">Answer : {{questionAnswered.questionBody.answer}}</h4>
                  <p ng-show="questionAnswered.questionBody.answerType == 'Text'">Answer from  {{scoreBoardEntry.user.name}} : {{questionAnswered.answer}}</p>
                  <img ng-show="questionAnswered.questionBody.answerType == 'Picture'" src="{{questionAnswered.answer}}" alt="image answer">
                  <button class="button icon-left ion-close-round button-small button-assertive pull-right" style="float: right; margin-right: 16px;" ng-click="">Wrong answer</button>
                  <button class="button icon-left ion-checkmark-round button-small button-balanced pull-right" style="float: right; margin-right: 16px;" ng-click="">Right answer</button>
                </li>

              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /col-67  -->
    </div>
  </ion-content>
</ion-view>
